<h1>Listing Page Texts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @page_texts.each do |page_text| %>
  <tr>
    <td><%= page_text.name %></td>
    <td><%= page_text.content %></td>
    <td><%= link_to 'Show', page_text %></td>
    <td><%= link_to 'Edit', edit_page_text_path(page_text) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page text', new_page_text_path %>
