<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Synergy Solutions</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if admin_signed_in? %>
    <%= link_to "Logout", logout_path %>
    <%= link_to "Administration", administration_path %>
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %>
  <h1>Synergy Solutions of Alabama</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Services", services_path %></li>
  </ul>
  <%= yield %>
</body>
</html>